/.vs
/DropDownMenu/bin/Debug
/DropDownMenu/obj/Debug
/DropDownMenu/obj/Release
/packages
/UniformGridDemo/.vs/UniformGridDemo/v16/*.suo
/UniformGridDemo/bin/Debug
Debug
SharpVectors.1.8.1
/ListBoxDemo/.vs/UniformGridDemo/v16/*.suo
*.suo
obj
